<!doctype html>

<html>
	<head>
		<title>Page Title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<!-- Latest compiled and minified CSS -->
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
        <header>
            <div class="logo">
                <h1>OVX</h1>
            </div>
            <div class="menu">
                <a href="#none">ABOUT</a>
                <a href="#none">SERVICES</a>
                <a href="#none" class="box_a" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">HIRE US</a>
            </div>
            <div class="hamburger">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            </div>
        </header>
        <main>
            <div class="main_text">
                <h2>Once photography,always photography.</h2>
                <div class="under_line"></div>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus,porta ac consectetur ac,<br/>vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor logula. Curabitur blandit<br/>tempus pottitor.</p>
            </div>
            <div class="panel_wrapper">
                <section class="panel first_panel">
                    <div class="img_wrapper first_img">
                        <div class="img_text">
                                <h3>first picture</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                        </div>
                    </div>
                    <div class="img_wrapper second_img">
                        <div class="img_text">
                            <h3>second picture</h3>
                            <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                    </div>
                </section>
                <section class="panel second_panel">
                    <div class="img_wrapper third_img">
                        <div class="img_text">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="img_wrapper fourth_img">
                        <div class="img_text">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="img_wrapper fifth_img">
                        <div class="img_text">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                </section>
                <section class="panel third_panel">
                    <div class="img_wrapper sixth_img">
                        <div class="img_text">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="img_wrapper seventh_img">
                        <div class="img_text">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="img_wrapper eighth_img">
                        <div class="img_text">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <footer>
            <div class="private">
                <h3>Start a new project?</h3>
                <p>
                    UltraLinx Studio, High Rise Building<br/>
                    Random Street Name<br/>
                    Amazing City<br/>
                    37234<br/>
                    United Kingdom<br/><br/><br/><br/>
                    Copyright 2016 - UltraLinx - All Rights Reserved
                </p>
            </div>
            <div class="SNS">
                <a href="#none">Facebook</a>
                <a href="#none">Twitter</a>
                <a href="#none">Dribbble</a>
                <a href="#none">Pinterest</a>
                <a href="#none">Instargram</a>
            </div>
            <div class="works">
                <a href="#none">Project</a>
                <a href="#none">Client List</a>
                <a href="#none">About</a>
                <a href="#none">Service</a>
                <a href="#none">Privacy Policy</a>
                <a href="#none">Contact</a>
            </div>
        </footer>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">ABOUT YOU</h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Name:</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="control-label">About your project:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
	</body>
</html>